---
import TitleBar from "@components/TitleBar.astro";
import Layout from "src/layouts/Layout.astro";
import { getCollection } from "astro:content";
import NoteCard from "@components/NoteCard.astro";

const notes = await getCollection("note");
const title = "Notes";
---

<Layout title={title}>
  <main
    class="relative flex max-h-screen w-full flex-col overflow-y-auto bg-white dark:bg-black"
  >
    <TitleBar title={title} />
    <div class="mx-auto w-full px-4 py-12 pb-10 md:px-8">
      <ol
        class="grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1"
      >
        {
          notes.map((note) => (
            <li class="px-3">
              <NoteCard
                title={note.data.title}
                type={note.data.type}
                href={"/notes/" + note.slug}
              />
            </li>
          ))
        }
      </ol>
    </div>
  </main>
</Layout>
