---
const { title, type, href } = Astro.props;
---

<div
  class="flex flex-col b-1 b-gray-300 b-solid b-rd p-4 mt-4"
>
  <div class="font-bold text-base">
    <a class="inline-block break-all decoration-none" href={href}>{title}</a>
  </div>
  <div class="flex text-sm mt-3 mb-0 opacity-75 line-clamp-1">
    <div class="i-carbon-hashtag mr-1"></div>{type}
  </div>
</div>
