---
const { title, detailPage } = Astro.props
---

<script>
  import { openNavBar, closeNavBar } from 'src/utils'

  const headers = document.querySelectorAll('header.title-header')
  headers.forEach((header) => {
    const container = header.parentElement!
    container.addEventListener('scroll', () => {
      const calcu = container.scrollTop / 200
      const shadowOpacity = calcu > 0.12 ? 0.12 : calcu
      const style = `
        background: rgba(255,255,255,${
          shadowOpacity === 0 ? shadowOpacity : shadowOpacity + 0.8
        });
          box-shadow: 0 1px 3px rgba(0,0,0,${shadowOpacity});
          min-height: 48px;
      `
      header.setAttribute('style', style)
    })
  })

  const menuBtns = document.querySelectorAll('.menu-btn')
  if (menuBtns) {
    menuBtns.forEach((menuBtn) => {
      const [menuIcon, closeIcon] = menuBtn.children
      menuIcon.addEventListener('click', openNavBar)
      closeIcon.addEventListener('click', closeNavBar)
    })
  }

  const backBtn = document.querySelector('#backBtn')
  if (backBtn) {
    menuBtns.forEach((menuBtn) => {
      menuBtn.children[0].classList.add('hidden')
    })

    backBtn.addEventListener('click', () => {
      window.history.back()
    })
  }
</script>

<header
  style="min-height: 48px;"
  class="title-header filter-blur sticky top-0 z-10 flex flex-col justify-center px-3 py-2 dark:border-b dark:border-gray-900"
>
  <div class="flex items-center justify-between flex-none">
    <span class="flex items-center space-x-3">
      {
        !detailPage && (
          <span class="menu-btn flex items-center justify-center p-2 rounded-md cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 lg:hidden">
            <div class="i-carbon-menu" />
            <div class="i-carbon-close hidden" />
          </span>
        )
      }

      {
        detailPage && (
          <span
            id="backBtn"
            class=" flex items-center justify-center p-2 rounded-md text-primary hover:bg-gray-200 dark:hover:bg-gray-800"
          >
            <div class="i-carbon-arrow-left" />
          </span>
        )
      }

      <h2 class="text-sm font-bold text-primary transform-gpu line-clamp-1">
        {title}
      </h2>
    </span>
    <slot />
  </div>
</header>
