---
import TitleBar from "@components/TitleBar.astro";
import { siteConfig } from "src/configs/site";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ReaJason" blogImg={siteConfig.hompage}>
  <div class="flex flex-1">
    <div class="flex w-full">
      <main
        class="relative flex max-h-screen w-full flex-col overflow-y-auto"
      >
        <TitleBar />
        <div class="p-4"></div>
        <div class="mx-auto w-full max-w-3xl px-4 pb-10 md:px-8">
          <div class="grid items-start grid-cols-1 gap-6 md:grid-cols-12">
            <div class="col-span-12">
              <div class="prose prose-neutral dark:prose-invert">
                <slot />
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</Layout>
