---
import HeadSEO from "@components/HeadSEO.astro";
import SideBar from "@components/SideBar.astro";

export interface Props {
  title: string;
  blogImg?: string;
}

const { title, blogImg } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <HeadSEO title={title} blogImg={blogImg} />
    <title>{title}</title>
  </head>
  <body>
    <div class="back-mask"></div>
    <div class="relative flex h-full min-h-screen w-full">
      <SideBar />
      <slot />
    </div>
    <style>
      html {
        max-height: 100vh;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .back-mask {
        position: fixed;
        z-index: 9999;
        top: 16px;
        left: 16px;
        right: 16px;
        bottom: 16px;
        pointer-events: none;
      }
    </style>
  </body>
</html>
