---
import HeadSEO from "@components/HeadSEO.astro";
import SideBar from "@components/SideBar.astro";

import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  blogImg?: string;
  descriptoin?: string;
}

const { title, blogImg, descriptoin } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <HeadSEO title={title} blogImg={blogImg} description={descriptoin} />
    <title>{title}</title>
    <ViewTransitions />
    <script defer is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
    <script async defer src="https://us.umami.is/script.js" data-website-id="9b120de6-0c44-46c9-83c6-2edb83911768"></script>
  </head>
  <body>
    <div class="back-mask"></div>
    <div
      class="relative flex h-full min-h-screen w-full text-gray-700 dark:text-gray-200"
    >
      <SideBar />
      <slot />
    </div>
    <style>
      html {
        max-height: 100vh;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      html.dark {
        background: #121212;
        color-scheme: dark;
      }
      .back-mask {
        position: fixed;
        z-index: 9999;
        top: 16px;
        left: 16px;
        right: 16px;
        bottom: 16px;
        pointer-events: none;
      }
    </style>
    <script>
      document.addEventListener("astro:after-swap", () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();
        theme === "dark"
          ? document.documentElement.classList.add("dark")
          : document.documentElement.classList.add("light");
      });
    </script>
  </body>
</html>
